{% extends 'base.html.twig' %}

{% block title %}Hello PerfilController!{% endblock %}

{% block body %}

    <a href="{{ path('app_perfil_cambiar',{'id':app.user.id} )}}">Configurar mis datos</a>
    <a>Mis Rutinas</a>
    <a></a>
{% endblock %}
